@import '~bootstrap-icons/font/bootstrap-icons.css';
.nav-link.active{
    background-color: #691b1b;
    border-bottom: 2px solid #000; /* You can adjust the color and thickness of the line */
    display: inline-block;
    font-weight: bold;
}