
<div class="w-100" style="background-color: #691b1b;">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <div class="ms-auto me-auto">
            <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-5 fw-bolder d-none d-sm-inline">AFTAS</span>
            </a>
        </div>
        
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li>
                <a routerLink="/Competitions" routerLinkActive="active" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-calendar text-black"></i> 
                    <span class="ms-1 d-none d-sm-inline text-white">Competitions</span> 
                </a>
            </li>
            <li>
                <a routerLink="/Members" routerLinkActive="active" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-people text-black"></i> 
                    <span class="ms-1 d-none d-sm-inline text-white">Members</span> 
                </a>
            </li>
            <li>
                <a routerLink="/Podium" routerLinkActive="active" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-bar-chart text-black"></i> 
                    <span class="ms-1 d-none d-sm-inline text-white">Podium</span> 
                </a>
            </li>
            <li>
                <a routerLink="/Results" routerLinkActive="active" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-journal-text text-black"></i> 
                    <span class="ms-1 d-none d-sm-inline text-white">Results</span> 
                </a>
            </li>
        </ul>


    </div>
</div>

