<!-- MODAL -->
<div class="modal fade" id="add-member" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Add Member</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add-member-form">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="familyName" class="form-label">Family Name</label>
                        <input type="text" class="form-control" id="familyName" name="familyName" required>
                    </div>
                    <div class="mb-3">
                        <label for="accessDate" class="form-label">Access Date</label>
                        <input type="date" class="form-control" id="accessDate" name="accessDate" required>
                    </div>
                    <div class="mb-3">
                        <label for="nationality" class="form-label">Nationality</label>
                        <input type="text" class="form-control" id="nationality" name="nationality" required>
                    </div>
                    <div class="mb-3">
                        <label for="identityDocumentType" class="form-label">Identity Document Type</label>
                        <input type="text" class="form-control" id="identityDocumentType" name="identityDocumentType" required>
                    </div>
                    <div class="mb-3">
                        <label for="identityNumber" class="form-label">Identity Number</label>
                        <input type="text" class="form-control" id="identityNumber" name="identityNumber" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Member</button>
                </form>
            </div>
        </div>
    </div>
</div>
