<div class="border border-5 p-5">
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="selectOption" class="form-label">Select Competition</label>
        <select class="form-select" id="selectOption" name="selectOption" [(ngModel)]="selectedCompetitionId">
          <option 
            *ngFor="let competition of competitions" [value]="competition.id">
              {{ competition.code }}
          </option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">
        {{ buttonText }}
      </button>
    </form>
</div>