<div class="border border-5 p-3">
    <table class="table table-striped" style="width:100%" id="competitionTable">
    <thead>
      <tr>
        <th scope="col" class="text-center">Code</th>
        <th scope="col" class="text-center">Date</th>
        <th scope="col" class="text-center">StartTime</th>
        <th scope="col" class="text-center">EndTime</th>
        <th scope="col" class="text-center">Participants Number</th>
        <th scope="col" class="text-center">Location</th>
        <th scope="col" class="text-center">Amount</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row" class="text-center">1</th>
        <td class="text-center">Mark</td>
        <td class="text-center">Otto</td>
        <td class="text-center">@mdo</td>
        <td class="text-center">@mdo</td>
        <td class="text-center">@mdo</td>
        <td class="text-center">@mdo</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">2</th>
        <td class="text-center">Jacob</td>
        <td class="text-center">Thornton</td>
        <td class="text-center">@fat</td>
        <td class="text-center">@fat</td>
        <td class="text-center">@fat</td>
        <td class="text-center">@fat</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">2</th>
        <td class="text-center">Jacob</td>
        <td class="text-center">Thornton</td>
        <td class="text-center">@fat</td>
        <td class="text-center">@fat</td>
        <td class="text-center">@fat</td>
        <td class="text-center">@fat</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">2</th>
        <td class="text-center">Jacob</td>
        <td class="text-center">Thornton</td>
        <td class="text-center">@fat</td>
        <td class="text-center">@fat</td>
        <td class="text-center">@fat</td>
        <td class="text-center">@fat</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">2</th>
        <td class="text-center">Jacob</td>
        <td class="text-center">Thornton</td>
        <td class="text-center">@fat</td>
        <td class="text-center">@fat</td>
        <td class="text-center">@fat</td>
        <td class="text-center">@fat</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">2</th>
        <td class="text-center">Jacob</td>
        <td class="text-center">Thornton</td>
        <td class="text-center">@fat</td>
        <td class="text-center">@fat</td>
        <td class="text-center">@fat</td>
        <td class="text-center">@fat</td>
      </tr>
      
    </tbody>
    </table>
</div>
